@charset "utf-8";

*{margin:0; padding:0; list-style: none; text-decoration:none;font-family: 'Slabo 27px','Noto Sans KR',serif;}
a{color:#333333;}
img{border:none;}

#wrap{position: fixed; top:0; left:0; width:100%; height:100%; min-width:1400px; min-height:780px; transition:all 2s; background:url(../images/morning.jpg) 0 0/100%;}

#wrap .logo{width:200px; height:140px; position: fixed; top:40px; left:60px;}
.logo>img{width:100%;}

.list{position:fixed; top:50px; right:200px;}
.list li{float: left; margin-left: 20px;}
.list li a{font-size:14px; font-weight:bold; color:#fff; font-family: 'Noto Sans KR', sans-serif; transition:all 0.5s;}
.list li:hover a{font-size:15px; transition:all 0.5s;}

.sns{position: fixed; top:50px; right:50px;}
.sns li{float:left; margin-left: 20px;}
.sns li a{font-size:20px; font-weight: bold; color:#fff;transition:all 0.5s;}
.sns li:hover a{font-size:22px; transition:all 0.5s;}


article p{position:absolute; top:330px; left:250px; width:400px; font-size:50px; color:#000;  }
article p small{font-size:13pt;}
article b{position: absolute; top:430px; left:250px; width:500px; font-size: 24px; color:#47302e;}

figure{position:absolute;top:200px; right:100px; width:800px; height:1020px; overflow: hidden;transition: all 2s; z-index: 5;}

figure>img{position: relative; top:0; left:0; z-index: 5;}

figure p{position: absolute; top:45px; right:138px; width:360px; height:710px; overflow: hidden; font-size:40px; font-weight:bold; line-height: 4.6; box-sizing: border-box; z-index: 2;}

figure p span{position: relative; top:80px; z-index: 3; left:28%;  color:#fff; text-shadow: 2px 2px 2px #7f7f7f;}

figure p b {position:relative; top:78px; z-index:3; left:28%; color:#fff}

nav{position:fixed; bottom:70px; left:6%; width:88%; z-index: 99;}


nav li{float: left; width:25%;}

nav li a{display: block; width:90%; height:35px; background:#fff; color:#111; margin: 0 auto; text-align: center; line-height: 35px; letter-spacing: 10px; box-sizing: border-box;padding-left:30px; opacity:0.6; z-index: 1; position: relative;border-radius: 10px;transition:all 0.5s; font-weight:bold;}

nav li:hover a{background:#111; color:#eee; opacity: 0.9; transition:all 0.5s;}
nav li a.on{background:#111; color:#eee; opacity: 0.9}

#wrap>img:nth-child(1){position: absolute; top:40px; left:-500px; opacity: 0.8; width:300px; height: auto; animation:ani1 70s linear infinite;}

#wrap>img:nth-child(2){position: absolute; top:20px; left:0px; opacity: 0.7; width:500px; height: auto; animation:ani2 120s linear infinite;}


figure p img.c1{width:200px; height:auto; position:absolute; top:30px; left:-200px; z-index: 3; animation:ani3 50s linear infinite;}

figure p img.c2{width:200px; height:auto; position:absolute; top:20px; left:-600px; z-index: 3; animation:ani4 90s linear infinite;}


@keyframes ani1{
	0%{left:500px;}
	100%{left:1950px;}
}


@keyframes ani2{
	0%{left:0px;}
	50%{left:1950px; opacity: 0;}
	50.1%{left:-700px; opacity: 0.8;}
	100%{left:0;}
}


@keyframes ani3{
	0%{left:-200px;}
	100%{left:540px;}
}


@keyframes ani2{
	0%{left:0px;}
	50%{left:540px; opacity: 0;}
	50.1%{left:-600px; opacity: -1;}
	100%{left:0;}
}


#wrap.morning{background: url(../images/morning.jpg) 0 0/100%;}
#wrap.morning .list a {color:#ede9d2}
#wrap.morning .sns i {color:#ede9d2}
#wrap.morning figure p{background: url("../images/morning.jpg"); z-index: 2; color:#ccc;}
#wrap.morning article p{color:#111; font-weight:bold;}
#wrap.morning article b{color:#222;}
#wrap.morning>img:nth-child(1){opacity: 1;}
#wrap.morning>img:nth-child(2){opacity: 1;}


#wrap.afternoon{background: url(../images/afternoon1.jpg) 0 0/100%;}
#wrap.afternoon .list a {color:#444}
#wrap.afternoon .sns i {color:#444}
#wrap.afternoon figure p{background: url("../images/afternoon1.jpg"); z-index: 2; color:#aaa;}
#wrap.afternoon article p{color:#111; font-weight:bold;}
#wrap.afternoon article b{color:#222;}
#wrap.afternoon>img:nth-child(1){opacity: 1;}
#wrap.afternoon>img:nth-child(2){opacity: 1;}



#wrap.evening{background: url(../images/evening.jpg) 0 0/100%;}
#wrap.evening .list a {color:#ede9d2}
#wrap.evening .sns i {color:#ede9d2}
#wrap.evening figure p{background: url("../images/evening.jpg"); z-index: 2; color:#aaa;}
#wrap.evening article p{color:#ede9d2;font-weight:bold}
#wrap.evening article b{color:#ede9d2;}
#wrap.evening>img:nth-child(1){opacity: 1;}
#wrap.evening>img:nth-child(2){opacity: 1;}


#wrap.night{background: url(../images/night.jpg) 0 0/100%;}
#wrap.night .list a {color:#ede9d2}
#wrap.night .sns i {color:#ede9d2}
#wrap.night figure p{background: url("../images/night"); z-index: 2; color:#aaa;}
#wrap.night article p{color:#ede9d2;font-weight:bold}
#wrap.night article b{color:#ede9d2;}
#wrap.night>img:nth-child(1){opacity: 1;}
#wrap.night>img:nth-child(2){opacity: 1;}